// variables 
// Colors
$grad_1:  #ACB6E5;
$grad_2:  #74ebd5;

$color_gray: #3D3C3C;

$base_ff: 'Merriweather', serif;

$headline_ff: 'Sanchez', serif;

$deep-blue: rgb(52, 53, 126);
$blue: rgb(74, 76, 167);
$black: black;
$white: white;
$green: #1abc9c;
$red: red;

$whitesmoke: whitesmoke;
$gray: #D6CFCE;

$base_fz: '16px';
$text-extra-large: '60px';
$text-large: '48px';

$fw-thin: 100;



body {
    background: linear-gradient(to right, $grad_1, $grad_2); 
    font-family: $base_ff;
    font-size: $base_fz;
    color: $color_gray;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    font-family: $headline_ff;
}
h1 {
  // @extend %fw-thin;
  @extend .text-red;
  @extend %bg-yellow;
  // color: $red;
  
}
h2 {
  // @extend %fw-thin;
  // @extend .text-red;
  color: $green;
  @extend %bg-yellow;
}
h2 {
  color: black;
}

%bg-yellow {
  background-color: yellow;
}
.text-red {
  color: $red;
}
