body {
    background: linear-gradient(to right, #ACB6E5, #74ebd5); 
    font-family: 'Merriweather', serif;
    font-size: 16px;
    color: $primary;
    line-height: 1.5;
}
.container {
    width: 100%;
    margin: 20px auto;
    @media only screen and (min-width: 768px) {
        width: 1024px;
    }
}

.sec {
    margin: $space-xl $space $space-sm;
    background-color: $whitesmoke;
    @extend .bor-radius;
    padding: $space-xl;
    border-bottom: 5px solid $green;
    display: flex;
}
.col {
    &-half {
        grid-template-columns: auto;
        @media only screen and (min-width: 768px) {
            grid-template-columns: auto auto;
        }
    }
    &-half-left-small {
        grid-template-columns: auto;
        @media only screen and (min-width: 768px) {
            grid-template-columns: 25% auto;
        }
    }
}


* a {
    text-decoration: none;
    color: $green;
    &:hover {
        color: $black;
    }
}
