$deep-blue: #34357e;
$blue: #4a4ca7;
$black: #000000;
$white: #ffffff;
$green: #1abc9c;
$whitesmoke: #f5f5f5;
$light-grey: #D6CFCE;

$primary: #3D3C3C;

$space-xl: 25px;
$space-lg: 20px;
$space: 15px;
$space-sm: 10px;
$space-xs: 5px;

